<a href=<%= @owner.github_url %> target="_blank">
  <img src="./assets/github-logo.svg" alt="Github-logo" class="max-h-6 transition ease-in-out delay-20 hover:-translate-scale-120 hover:scale-110 hover: duration-300 ">
</a>